.span12
  %ul.breadcrumb
    %li
      = link_to 'Overview', root_path
      %span.divider
        \/
    %li.active
      Dougnut Demo
.span12
  .chart
    %canvas#canvas{height: '450', width: '1170'}
= render 'chart_templates/doughnut_chart.js.erb', datasets: @datasets
.span12
  = render 'shared/dataset_table'