%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
        Chart
  %tbody
    %tr
      %td
        Line
    %tr
      %td
        Bar
    %tr
      %td
        Radar
    %tr
      %td
        Polar area
    %tr
      %td
        Pie
    %tr
      %td
        Doughnut
